.carousel {
  display: flex;
  justify-content: center;
}

.carousel .slide {
  height: 80vh;
  width: 70vh;
  position: relative;
}

.carousel .slide img {
  max-height: 100%;
  max-width: 80%;
  width: auto;
}

.project-description {
  position: absolute;
  bottom: -6%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  margin: 0;
  width: 80%;
  height: 35%;
  text-align: center;
}

@media only screen and (max-width: 1200px) {
  .carousel {
    height: 90vh;
  }

  .carousel .slide img {
    margin: 10vh auto;
    width: 100vw;
  }
}
@media only screen and (max-width: 800px) {
  .carousel {
    height: 80vh;
  }

  .carousel .slide img {
    margin: 10vh auto;
    width: 100vw;
  }
}
@media only screen and (max-width: 600px) {
  .carousel {
    height: 70vh;
  }

  .carousel .slide img {
    margin: 10vh auto;
    width: 100vw;
  }
}
.secHeader {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 50%;
  background-color: aquamarine;
  color: black;
}

.babyJournal {
  display: flex;
  justify-content: center;
  color: aqua;
  margin-top: 1000px;
}

.youtubeVideo .project-description {
  margin-bottom: 0; /* to remove the margin at the bottom */
}
