.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
  align-items: center;
}

.welcome {
  grid-column: 1 / span 3;
  grid-row: 1;
  padding: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: black;
  background-color: rgba(127, 255, 212, 0.7);
  border: 3px solid aqua;
  border-radius: 20px;
}
.smallIntro {
  grid-column: 1 / span 3;
  grid-row: 2;
  padding: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: black;
  background-color: rgba(127, 255, 212, 0.7);
  border: 3px solid aqua;
  border-radius: 20px;
}

.intro {
  background-color: rgba(127, 255, 212, 0.7);
  padding: 10px;
  display: flex;
  color: black;
  border: 3px solid aqua;
  border-radius: 20px;
  align-items: center;
}
.learnMore {
  background-color: rgba(127, 255, 212, 0.3);
  padding: 10px;
  display: flex;
  color: black;
  border: 3px solid aqua;
  border-radius: 20px;
  align-items: center;
}

.icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  width: 100px;
  height: 100px;
  color: aqua;
}

.icon-container span {
  font-size: 0.8em;
  margin-top: 5px;
}

.icon-container:hover {
  color: blue;
  height: 125px;
  width: 125px;
}

.icon-java {
  grid-column: 2;
  grid-row: 2;
  width: 100px;
  height: 100px;
}

.icon-apollo {
  grid-column: 2;
  grid-row: 2;
  width: 100px;
  height: 100px;
}

.icon-query {
  grid-column: 2;
  grid-row: 2;
  width: 100px;
  height: 100px;
}

.icon-react {
  grid-column: 1;
  grid-row: 2;
  width: 100px;
  height: 100px;
}

.icon-node {
  grid-column: 3;
  grid-row: 2;
  width: 100px;
  height: 100px;
}

.icon-sql {
  grid-column: 1;
  grid-row: 2;
  width: 100px;
  height: 100px;
}
.icon-api {
  grid-column: 1;
  grid-row: 2;
  width: 100px;
  height: 100px;
}

.icon-html {
  grid-column: 3;
  grid-row: 1;
  width: 100px;
  height: 100px;
}

.icon-css {
  grid-column: 2;
  grid-row: 1;
  width: 100px;
  height: 100px;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .icon-java,
  .icon-html,
  .icon-css,
  .icon-sql,
  .icon-node,
  .icon-react,
  .icon-apollo,
  .icon-query,
  .icon-api {
    justify-content: center;
    margin: 20px 0;
  }
}

.infoButton {
  background-color: rgba(127, 255, 212, 0.7);
  padding: 10px;
  display: flex;
  color: black;
  border: 3px solid aqua;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
